<!-- About Section-->
<section class="page-section bg-warning text-secondary mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fab fa-twitter"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">As a fan of music, a drummer, and a developer. I decided to create a Twitter bot
                    inspried by <a href="https://twitter.com/africabytotobot" target="_blank">Africa by Toto Bot</a>. I
                    found this account intersting and enjoyed watching the interaction that others had with the bot. Personally,
                    I just had fun commenting on the various lines as if they were said to me direct.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">I started thinking about how various songs touched me and brought back fond memories. So
                    I created my first twitter bot for Like a Rock by Bob Seger and hope to create others overtime for
                    others to enjoy and remember great music.</p>
            </div>
        </div>
    </div>
</section>