<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-16">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="cache-control" content="no-cache" />

  <title>Starlette-Template | {% block page_title %}{% endblock %}</title>
  {% include "base_stylesheet.html" %}
  {% block page_stylesheet %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>