<!-- Begin Metrics -->
<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="info-box">
      <!-- <span class="info-box-icon bg-info"><i class="far fa-sticky-note"></i></span> -->
      <span title="Quick Note">
        <a class="btn btn-app" href="/notes/new">
          <i class="fas fa-edit"></i> Quick Note
        </a>
      </span>
      <span title="Quick Configuration">
        <a class="btn btn-app" href="/configuration">
          <i class="fas fa-edit"></i> Quick Config
        </a>
      </span>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <div class="col-md-2 col-sm-6">
    <div class="info-box">
      <span title="Total Notes" class="info-box-icon bg-info"><i class="far fa-sticky-note"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">&sum; Notes</span>
        <span class="info-box-number">{{ '{0:,}'.format(metrics.total_notes | int) }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-2 col-sm-6">
    <div class="info-box">
      <span title="Total Words" class="info-box-icon bg-success"><i class="fas fa-font"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">&sum; Words</span>
        <span class="info-box-number">{{ '{0:,}'.format(metrics.total_words | int) }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6">
    <div class="info-box">
      <span title="Total Characters" class="info-box-icon bg-warning"><i class="fas fa-text-height"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">&sum; Characters</span>
        <span class="info-box-number">{{ '{0:,}'.format(metrics.total_characters | int) }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-2 col-sm-6">
    <div class="info-box">
      <span title="Total Tags" class="info-box-icon bg-danger"><i class="fas fa-tags"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Tags</span>
        <span class="info-box-number">12</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->