
{% if request.session.admin == true %}
    <!-- Admin nav if authenticated -->
    <li class="nav-item has-treeview  menu-{% if section=="admin"%}open{%else%}closed{%endif%}">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users-cog"></i>
            <p>
                Admin Section
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="/admin/open" class="nav-link {% if active=="admin-open"%} active{%endif%}">
                    <i class="fas fa-user-cog nav-icon"></i>
                    <p>Open Access Requests</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/all" class="nav-link {% if active=="admin-all"%} active{%endif%}">
                    <i class="fas fa-user-cog nav-icon"></i>
                    <p>All Access Requests</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/login-failures" class="nav-link {% if active=="login-failures"%} active{%endif%}">
                    <i class="fas fa-exclamation-triangle"></i>
                    <p>Login Failures</p>
                </a>
            </li>
        </ul>
    </li>
    {% endif %}

