{% extends "base.html" %}
{% block page_title %}| My Notes{% endblock %}
{% block page_stylesheet %}
<!-- DataTables -->
<link rel="stylesheet" href="{{ url_for('static' , path='plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
{% endblock %}
{% block page_breadcrumb %} My Notes{% endblock %}
{% block page_head_title %}My Notes{% endblock %}
{% block body %}
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <h3>
        Search Notes
        <span class="htmx-indicator">
          <img src="{{ url_for('static' , path='img/bars.svg') }}" /> Searching...
        </span>
      </h3>
      <div class="float-left col-md-4">
      <input class="form-control float-left" type="text" name="search" placeholder="Search for text in notes...."
        hx-post="/notes/find" hx-push-url="true" hx-trigger="keyup changed delay:500ms" hx-target="#search-results"
        hx-indicator=".htmx-indicator" hx-swap="innerHTML"
       >
      </div>
      <div class="float-left col-md-2">
        <form method="POST" action="/notes/index">
        <button type="button" class="btn btn-block btn-secondary btn-sm float-right" onClick="window.location.href='/notes/index';">Reset</button>
      </form>
      </div>
    </div>
    <div class="col-md-12 float-right">
      <div class="col-md-6 float-left">
        <form action="/notes/direction" method="post" enctype="multipart/form-data">
          {{ form.csrf_token }}
          {{ form.limit(placeholder="Number of Notes") }}
          {{form.off_set(value=notes.config.off_set)}}
          <div class="btn-group">
            {% if notes.config.off_set==0 %}<button type="submit" class="btn btn-default" title="0 Prior" disabled>
              < < < </button>{%else%}<button name="btn-previous" type="submit" class="btn btn-default"
                  title="{{notes.config.off_set}} Prior"><strong>
                    < < < </strong></button>{%endif%}
                {% if notes.config.qty - notes.config.off_set -notes.config.limit > 0 %}<button name="btn-next"
                  type="submit" class="btn btn-default"
                  title="{{notes.config.qty - notes.config.off_set}} Remaining"><strong>> >
                    ></strong></button>{%else%}<button name="btn-next" type="submit" class="btn btn-default"
                  title="0 Remaining" disabled><strong>> > ></strong></button>{%endif%}
          </div>
        </form>
      </div>
      <div class="col-md-6 float-right">
        <div class="row">
        <div class="input-group-prepend">
          <span class="input-group-text" title="Query Quantity"><i class="fas fa-battery-half"> {{notes.config.query_qty}}</i></span>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text" title="Total Quantity"><i class="fas fa-battery-full"> {{notes.config.qty}}</i></span>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text" title="Query Offset"><i class="fas fa-arrow-alt-circle-right"> {{notes.config.off_set}}</i></span>
        </div>
      </div>
      </div>
    </div>
    {% include "notes/note_loop.html" %}

  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock %}
{% block page_sidebar_content %}
{% endblock %}
{% block page_scripts %}
<!-- page scripts-->
<!-- DataTables -->
<script src="{{ url_for('static' , path='plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static' , path='plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>
<!-- AdminLTE App -->
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static' , path='dist/js/demo.js') }}"></script>
<!-- page script -->
<script>
  $(function () {

    $('#notes').DataTable({
      "order": [[0, "desc"]],
    });
  });
</script>
{% endblock %}